.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    /*line-height: 40px;
  height: 40px;*/
    /*border-bottom: 1px solid #888;*/
    display: inline-block;
}
.collapse.in {
    overflow-y: hidden;
    width: 60%;
}
.center-block {
  margin-bottom: auto;
  margin-top: auto;
  padding-bottom: auto;
}
#slideshow { 
    position: relative;
}

#slideshow > div { 
    position: absolute; 
    /*top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;*/
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
ul.topnav {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
}
.navbar-collapse {
    padding-left: 10;
    padding-right: 10;
}

ul.topnav li {
    display: inline-block;
    font-size: 14px;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #A31621;
}
.nav a {
    text-decoration: none;
    color: white;
    display: block;
    /*transition: .3s background-color;*/
}
.nav li:hover {
    background-color: #A31621;
    color: white;
}
.image {
    display: block;
    height: auto;
    /*border-radius: 15px;*/
}
#slideshow div {
    width: 100%;

}
@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        line-height: 50px;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1466px) {

}
@media screen and (max-width: 1270px) {

}
@media screen and (max-width: 1110px) {


}
@media screen and (max-width: 993px) {

}
@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        display: block;
    }
    
    

}
