nav.navbar {
	border: 0px;
	margin: 0px;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

ul.nav a:hover {
    color: #5669bc;
    background-color: white;
}
ul.nav a:visited {
    color: #84129b;
    background-color: white;
}
ul.nav a:visited:hover {
	color: #c689d6;
}
.nav-item a {
	color: #c689d6;
}
